/* General Reset */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* About Me Section */
.section {
    padding: 4rem 0;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 8px;
}

#about {
    background-color: #e2e2e2;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
}

/* Projects Section */
.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-size: 1rem;
}

.project-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project-card img {
    width: 100%;            /* Ensure the image spans the entire width of its container */
    height: 100%;           /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire space */
    object-position: center; /* Center the image if cropped */
}

/* Contact Section */
#contact {
    background-color: #f9f9f9;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.project-card:hover {
    transform: translateY(-10px);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-mode .card {
  background-color: black;
  color: white;
  text-align: center;
}

body.dark-mode #contact {
  background-color: black;
  color: white;
}

.project-card img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px; /* Optional: rounded corners */
    padding: 2px;       /* Optional: adds a little inner space */
}

.project-divider {
    border: none;
    border-top: 2px solid #ddd;
    margin: 10px 0;
}


